<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>| User information |</title>
    <link rel="stylesheet" href="{% static 'userdetails/css/home.css' %}">
</head>
<body>
<img class="img" src="static/userdetails/images/bgsun.jpg" alt="landing SingUp Page">
  <div class="container">
    <h1>
      Welcome User!
    </h1>
      <p>
         Hello User just by Login you can visit, add, view, edit and delete your informations!
      </p>
        <form action="/userlogin/" method="POST">
            {% csrf_token %}
            <input type="text"  name="loginusername" id="loginusername" placeholder="Enter Your username-">
            <input type="password"  name="loginpassword" id="loginpassword" placeholder="Enter Your password-">
            <button class="btn"><b>Log In</b></button>
        </form>
  </div>


</body>
</html>